@charset "utf-8";

.selector-for-some-widget {
    box-sizing: content-box;
}

:root {
    --primary: #0d6efd;
    --dark: #21252f;
    --body: #888;
    /* --orange: rgb(221, 155, 94); */
    --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.2);
}

body {
    font-family: Sora, "sans-serif";
    line-height: 1.7;
    color: var(--body);
}