@charset "utf-8";

.selector-for-some-widget {
    box-sizing: content-box;
}

:root {
    --primary: #ff5500;
    --dark: #21252f;
    --body: #888;
}

body {
    height: 100%;
    font-family: Sora, "sans-serif";
    color: var(--body);
}

.character-name-link-for-update {
    text-decoration: none;
}

.form-signup {
    max-width: 330px;
    padding: 1rem;
}

.form-signup .form-floating:focus-within {
    z-index: 2;
}

.form-signup input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signup input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-login {
    max-width: 330px;
    padding: 1rem;
}

.form-login .form-floating:focus-within {
    z-index: 2;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group-item {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.update-time-block {
    display: table;

    &>p {
        display: table-cell;
        vertical-align: middle;
    }
}