{% extends "base.html" %}
{% block content %}

<div class="col-4">
    <p>キャラクター一覧</p>
    <a href="{{url_for('create') }}">新規作成</a>
    <br>
    {% for character in characters %}
    <div>
        <a href="/{{ character.id }}/update">{{ character.name }}</a>
    </div>
    <div>
        <p>{{ character.update_time }}</p>
    </div>
    <div>
        <button type="button" class="btn btn-outline-secondary btn-sm">ココフォリア駒出力</button>
        <button type="button" class="btn btn-outline-secondary btn-sm">複製</button>
        <button type="button" class="btn btn-outline-danger btn-sm"
            onclick="location.href='/{{ character.id }}/delete'">削除</button>
    </div>
    <br>
    {% endfor %}
</div>

{% endblock %}